* {
  font-family: "Merriweather", serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeTextDiv {
  width: 399.9px;
}

.inputDiv {
  width: 399.9px;
  border: greenyellow 2px solid;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 30px auto;
}
